# ---------------------------
# Git
# ---------------------------
.git
.gitignore

# ---------------------------
# Visual Studio / IDE
# ---------------------------
.vs
.vscode
*.user
*.suo

# ---------------------------
# .NET build outputs
# ---------------------------
bin/
obj/
out/
publish/
TestResults/

# ---------------------------
# Terraform (VERY IMPORTANT for you)
# ---------------------------
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
*.tfstate
*.tfstate.*
.terraform/

# ---------------------------
# Docker / Compose
# ---------------------------
docker-compose*
Dockerfile*

# ---------------------------
# Node (if any future UI added)
# ---------------------------
node_modules/

# ---------------------------
# Logs / secrets
# ---------------------------
*.log
*.env
secrets*.json

# ---------------------------
# Docs (optional)
# ---------------------------
README.md
LICENSE